const { TypeORMSqlDataSource } = require('slingr-framework')

export const postgresDataSource = new TypeORMSqlDataSource({
    type: 'postgres',
    host: 'localhost',
    port:  5432,
    username: 'postgres',
    password: 'postgres',
    database: '{{APP_NAME}}',
    synchronize: true,
    logging: true,
    managed: true
})
